@media (max-width: 576px) {
    .slp_h1 {
        font-size: 42px;
    }

    .slp_h2 {
        font-size: 28px !important;
    }

    .slp_h3 {
        font-size: 30px;
    }

    .slp_label {
        font-size: 14px;
    }
}
