@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import "media-query.scss";
$primary_color: #ff0177;
$second_color: #19ffbc;
$third_color: #3435fe;

* {
    font-family: "Poppins", sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.slp_h1 {
    font-size: 46px;
}

.slp_h2 {
    font-size: 32px;
}

.slp_h3 {
    font-size: 30px;
}

.slp_label {
    font-size: 14px;
}

.slp_p {
    font-size: 16px;
}

.slp_section {
    padding: 50px 0 50px 0;
}

.slp_hero-banner {
    height: 80%;
    background-image: url("../img/herob-background.jpeg");
    background-size: cover;
}

.slp_button {
    background-color: $primary_color;
    width: 100%;
    padding: 10px;
    border: none;
    transition: 0.3s;
    &:hover {
        background-color: $second_color;
        color: $third_color;
    }
    &:focus {
        box-shadow: none;
        color: $third_color;
        background-color: $second_color;
    }
}

.slp_intro-section {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #f2eee8;
    padding: 20px;
}

.slp_intro-img {
    width: 100px;
    margin-top: -50px;
}

.slp_section-img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.slp_form {
    padding: 10px !important;
    text-align: center;
    border: none;
}
